# ===========================
# Node / General
# ===========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===========================
# TypeScript build outputs
# ===========================
backend/dist/
frontend/.expo/
*.tsbuildinfo

# ===========================
# Environment Variables
# ===========================
.env
backend/.env
frontend/.env
backend/pivot-app-eb4d7-firebase-adminsdk-fbsvc-38f612bb11.json

# ===========================
# OS / Editor
# ===========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# ===========================
# React Native / Expo
# ===========================
.expo/
.expo-shared/
android/
ios/

# ===========================
# Miscellaneous
# ===========================
*.log
*.pid
*.seed
*.tgz
*.lock
*.zip